@charset "utf-8";

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em,font,img,b,u,i,ol,ul,li,form{margin: 0;padding: 0;}
img,div{border-width:0;}
a{text-decoration: none;}
img{vertical-align: bottom;}
textarea {resize: none;}
body {
	font-family:'Helvetica Neue', Helvetica,'Hiragino Kaku Gothic Pro', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
body{
  background: #f3f6f7;
}
#page{
  padding:50px 0px;
}
#upload-area-title{
  font-size: 32px;color: #26282b;font-weight: bold;text-align: center;margin-bottom: 20px;
}
#upload-area{
  background: #fff;box-shadow: 0px 0px 2px 0px #cacaca;width:800px;margin:auto;padding:50px 0px;border-radius: 5px;
}
#upload-area-send-button{
  text-align: center;height:35px;line-height:35px;width:160px;margin:auto;border-radius: 50px;background: #f11717;color:#fff;cursor: pointer;margin-top:30px;
}
#upload-animation-area{
  border-radius: 50px;width: 440px;height:15px;margin:auto;overflow: hidden;border: 1px solid #f2f2f2;
}
#upload-animation{
  background: #33d93e;width: 0;height:15px;
}
#gif-show-area{
  width:800px;margin:20px auto 0px;
}
#video-show-area{
  width:800px;margin:20px auto 0px;
}
.gif-contents{
  width:200px;height:120px;float:left;background-size: cover;background-position: 50% 50%;
}
/* className*/
.clear-fix{clear:both;}